doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title 加点料 健康生活，减少添加剂摄入

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Bootstrap icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet')

        // Google fonts
        link(rel='preconnect', href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&display=swap', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&display=swap', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&display=swap', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.shadow-sm
            .container.px-5
                a.navbar-brand.fw-bold(href='#page-top') 加点料 App
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.bi-list
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.me-4.my-3.my-lg-0
                        li.nav-item
                            a.nav-link.me-lg-3(href='#features') 功能
                        li.nav-item
                            a.nav-link.me-lg-3(href='#download') 下载
                    //button.btn.btn-primary.rounded-pill.px-3.mb-2.mb-lg-0(data-bs-toggle='modal', data-bs-target='#feedbackModal')
                    a.nav-link.me-lg-3(href='https://support.qq.com/products/440021/faqs/129058')
                        span.d-flex.align-items-center
                            i.bi-chat-text-fill.me-2
                            span.small 入群交流反馈

        // Mashead header
        header.masthead
            .container.px-5
                .row.gx-5.align-items-center
                    .col-lg-6
                        // Mashead text and app badges
                        .mb-5.mb-lg-0.text-center.text-lg-start
                            h1.display-1.lh-1.mb-3 加点料
                            p.lead.fw-normal.text-muted.mb-5 食品配料添加剂识别，减少海克斯科技摄入
                            .d-flex.flex-column.flex-lg-row.align-items-center
                                //a.me-lg-3.mb-4.mb-lg-0(href='#!')
                                //    img.app-badge(src='assets/img/google-play-badge.svg', alt='...')
                                a(href='https://apps.apple.com/cn/app/id6443815603')
                                    img.app-badge(src='assets/img/app-store-badge.svg', alt='...')
                    .col-lg-6
                        // Masthead device mockup feature
                        .masthead-device-mockup
                            include includes/gradient-circle
                            include includes/shape-1
                            include includes/shape-2
                            .device-wrapper
                                .device(data-device='iPhoneX', data-orientation='portrait', data-color='black')
                                    .screen.bg-black
                                        // PUT CONTENTS HERE:
                                        // * * This can be a video, image, or just about anything else.
                                        // * * Set the max width of your media to 100% and the height to
                                        // * * 100% like the demo example below.
                                        //video(muted='muted', autoplay='', loop='', style='max-width: 100%; height: 100%;')
                                            source(src='assets/img/demo-screen.mp4', type='video/mp4')
                                        img(src='assets/img/home.PNG', alt='...', style='max-width: 100%; height: 100%;')

        // Quote/testimonial aside
        aside.text-center.bg-gradient-primary-to-secondary
            .container.px-5
                .row.gx-5.justify-content-center
                    .col-xl-8
                        .h2.fs-1.text-white.mb-4 "感谢开发者，家里有小朋友后开始关注食品配料表中的添加剂，由于不是专业人士，经常需要搜索相关内容非常麻烦，使用加点料后方便多了，能快速知道添加剂的功能及危害。"
                        .h2.fs-1.text-white.mb-4 -- 来自【加点料】用户的分享
                        //img(src='assets/img/tnw-logo.svg', alt='...', style='height: 3rem;')

        // App features section
        section#features
            .container.px-5
                .row.gx-5.align-items-center
                    .col-lg-8.order-lg-1.mb-5.mb-lg-0
                        .container-fluid.px-5
                            .row.gx-5
                                .col-md-6.mb-5
                                    // Feature item
                                    .text-center
                                        i.bi-camera.icon-feature.text-gradient.d-block.mb-3
                                        h3.font-alt 拍摄识别配料表
                                        p.text-muted.mb-0 快速识别配料表添加剂
                                .col-md-6.mb-5
                                    // Feature item
                                    .text-center
                                        i.bi-phone.icon-feature.text-gradient.d-block.mb-3
                                        h3.font-alt 图片识别配料表
                                        p.text-muted.mb-0 方便快速识别
                            .row
                                .col-md-6.mb-5.mb-md-0
                                    // Feature item
                                    .text-center
                                        i.bi-gift.icon-feature.text-gradient.d-block.mb-3
                                        h3.font-alt 手动搜索添加剂
                                        p.text-muted.mb-0 快速查询添加剂作用及危害
                                .col-md-6
                                    // Feature item
                                    .text-center
                                        i.bi-patch-check.icon-feature.text-gradient.d-block.mb-3
                                        h3.font-alt 智能分析配料表
                                        p.text-muted.mb-0 快速分析配料表添加剂
                    .col-lg-4.order-lg-0
                        // Features section device mockup
                        .features-device-mockup
                            include includes/gradient-circle
                            include includes/shape-1
                            include includes/shape-2
                            .device-wrapper
                                .device(data-device='iPhoneX', data-orientation='portrait', data-color='black')
                                    .screen.bg-black
                                        // PUT CONTENTS HERE:
                                        // * * This can be a video, image, or just about anything else.
                                        // * * Set the max width of your media to 100% and the height to
                                        // * * 100% like the demo example below.
                                        //video(muted='muted', autoplay='', loop='', style='max-width: 100%; height: 100%;')
                                            source(src='assets/img/demo-screen.mp4', type='video/mp4')
                                        img(src='assets/img/record.PNG', alt='...', style='max-width: 100%; height: 100%;')

        // Basic features section
        section.bg-light
            .container.px-5
                .row.gx-5.align-items-center.justify-content-center.justify-content-lg-between
                    .col-12.col-lg-5
                        h2.display-4.lh-1.mb-4 简洁 方便
                        p.lead.fw-normal.text-muted.mb-5.mb-lg-0 健康生活好帮手
                    .col-lg-4.order-lg-0
                        .features-device-mockup
                            include includes/gradient-circle
                            include includes/shape-1
                            include includes/shape-2
                            .device-wrapper
                                .device(data-device='iPhoneX', data-orientation='portrait', data-color='black')
                                    .screen.bg-black
                                        // PUT CONTENTS HERE:
                                        // * * This can be a video, image, or just about anything else.
                                        // * * Set the max width of your media to 100% and the height to
                                        // * * 100% like the demo example below.
                                        //video(muted='muted', autoplay='', loop='', style='max-width: 100%; height: 100%;')
                                            source(src='assets/img/demo-screen.mp4', type='video/mp4')
                                        img(src='assets/img/widget.PNG', alt='...', style='max-width: 100%; height: 100%;')
                        

        // Call to action section
        //- section.cta
        //-     .cta-content
        //-         .container.px-5
        //-             h2.text-white.display-1.lh-1.mb-4
        //-                 | Stop waiting.
        //-                 br
        //-                 | Start building.
        //-             a.btn.btn-outline-light.py-3.px-4.rounded-pill(href='https://startbootstrap.com/theme/new-age', target='_blank') Download for free

        // App badge section
        section#download.bg-gradient-primary-to-secondary
            .container.px-5
                h2.text-center.text-white.font-alt.mb-4 现在就下载吧！
                .d-flex.flex-column.flex-lg-row.align-items-center.justify-content-center
                    //a.me-lg-3.mb-4.mb-lg-0(href='#!')
                        img.app-badge(src='assets/img/google-play-badge.svg', alt='...')
                    a(href='https://apps.apple.com/cn/app/id6443815603')
                        img.app-badge(src='assets/img/app-store-badge.svg', alt='...')

        // Footer
        footer.bg-black.text-center.py-5
            .container.px-5
                .text-white-50.small
                    .mb-2 &copy; 加点料 2022. 版权所有.
                    //a(href='#!') Privacy
                    //span.mx-1 &middot;
                    //a(href='#!') Terms
                    //span.mx-1 &middot;
                    //a(href='#!') FAQ
        
        include includes/feedback-modal.pug

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
